/*#region FONT-FACE*/
@font-face {
	font-family: 'DINProBold';
	src: url('"@{font-folder}/dinpro-bold-webfont.eot');
	src: url('"@{font-folder}/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('"@{font-folder}/dinpro-bold-webfont.ttf') format('truetype'),
		 url('"@{font-folder}/dinpro-bold-webfont.woff') format('woff'),
		 url('"@{font-folder}/dinpro-bold-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DINProRegular';
	src: url('"@{font-folder}/dinpro-regular-webfont.eot');
	src: url('"@{font-folder}/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('"@{font-folder}/dinpro-regular-webfont.ttf') format('truetype'),
		 url('"@{font-folder}/dinpro-regular-webfont.woff') format('woff'),
		 url('"@{font-folder}/dinpro-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DINProMedium';
	src: url('"@{font-folder}/dinpro-medium-webfont.eot');
	src: url('"@{font-folder}/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('"@{font-folder}/dinpro-medium-webfont.ttf') format('truetype'),
		 url('"@{font-folder}/dinpro-medium-webfont.woff') format('woff'),
		 url('"@{font-folder}/dinpro-medium-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FamiliarProBold';
	src: url('"@{font-folder}/familiar_pro_bold-webfont.eot');
	src: url('"@{font-folder}/familiar_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('"@{font-folder}/familiar_pro_bold-webfont.ttf') format('truetype'),
		 url('"@{font-folder}/familiar_pro_bold-webfont.woff') format('woff'),
		 url('"@{font-folder}/familiar_pro_bold-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SegoeUILight';
	src: url('"@{font-folder}/segoeuil-webfont.eot');
	src: url('"@{font-folder}/segoeuil-webfont.eot?#iefix') format('embedded-opentype'),
		 url('"@{font-folder}/segoeuil-webfont.ttf') format('truetype'),
		 url('"@{font-folder}/segoeuil-webfont.woff') format('woff'),
		 url('"@{font-folder}/segoeuil-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'SegoeWP';
    src: url('"@{font-folder}/segoewp.eot');
    src: url('"@{font-folder}/segoewp.eot?#iefix') format('embedded-opentype'),
         url('"@{font-folder}/segoewp.ttf') format('truetype'),
         url('"@{font-folder}/segoewp.woff') format('woff'),
         url('"@{font-folder}/segoewp.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*#endregion FONT-FACE*/

.helvetica {
font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.serif {
font-family : Cambria, Georgia, Times, 'Times New Roman'; }

.monospace {
font-family : 'Monaco', Courier New, monospace; }

.century {
font-family : 'Century Gothic', Verdana, Arial; }

.arial {
font-family : Arial, Helvetica, sans-serif; }

.dinpro {
font-family: 'DINProMedium', Verdana, Arial; }

.dinproreg {
font-family: 'DINProRegular', Verdana, Arial; }

.segoewp {
font-family: 'SegoeWP', 'Century Gothic', Arial !important; }

.segoewplight {
font-family: 'SegoeWPLight', 'Century Gothic', Arial !important; }

.segoeuilight { 
font-family: 'SegoeUILight', 'Century Gothic', Arial !important; }

.font16     { font-size: 16px; }
.font20     { font-size: 20px; }
.font28     { font-size: 28px; }
.font28_    { font-size: 28px !important; }
.font30     { font-size: 30px; }

.font100    { font-size: 100%; }
.font95     { font-size: 90%; }
.font90     { font-size: 90%; }
.font80     { font-size: 80%; }
.font70     { font-size: 70%; }
.font60     { font-size: 60%; }